body{
	background-color: beige;
}

/*h1{
	text-align: center;
	color: ghostwhite;
	font-weight: 600;
}

h2{
	text-align: center;
	color: ghostwhite;
	font-style: oblique;
}

p{
	text-align: center;
	color: ghostwhite;
}

ul{
	color: ghostwhite;
}

li{
	text-align: center;
	align-content: center;
}

h3{
	text-align: center;
	color: ghostwhite;
}

table{
	color: ghostwhite;
	text-align: center;
	margin: auto;
	border: solid white;
	border-width: 2px;
}

th{
	border: ghostwhite;
	border-width: 2px;
	border: solid white;
}

td{
	border: ghostwhite;
	border-width: 2px;
	border: solid white;
}

textarea{
	align-content: center;
}

video{
	align-content: center;
}
*/